@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-dark: #0B0F19;
    --clr-primary: #6366F1;
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;


    --clr-bg: #fff;
    --clr-white: #ffffff;
    --clr-grayborder: #e2e5f1;  
    --clr-btn: #6366F1;
    --clr-text-heading: #0B0F19;
    --clr-text-body: #0b0f19;
    --clr-accordian: #ffffff;

    --container-padding: 1rem;
    -o-transition-time: all 0.2s;
}


* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: #0B0F19(0, 0, 0, 0);
}

.dark {
    --clr-bg: #0B0F19;
    --clr-gray-100: #1c1c29;
    --clr-accordian: rgb(250, 250, 250, 0.04);
    --clr-darktransparent: rgb(250, 250, 250, 0.04);
    --clr-text-heading: #f3f6ff;
    --clr-text-body: #f3f6ff; 
    --clr-white: rgb(250, 250, 250, 0.04);
    color-scheme: dark;
}

html {
    color-scheme: light;
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: radial-gradient(circle at center bottom, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
    
}


body { 
    background-color: var(--clr-bg);
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
#logo {
    display: flex;
    gap: .5rem;
    text-decoration: none;
}
.silicon-logo  {
    color: var(--clr-text-heading);
    font-size: 23px;
    font-weight: 800;
    align-self: center;
}

a {
    color: var(--clr-primary);
    text-decoration: none;
}

a:hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: #fff;
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover {
   background-color: var(--clr-gray-500); 
   color: var(--clr-white);
   text-decoration: none;
}
.btn-primary img {
    margin-right: 0.5rem;
}
.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* --------------------- */

.toggle-switch {
    display: flex;
}
label {
    width: 47px;
    height: 25px;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgb(0,0 ,0,0.4), inset 0px -5px 15px rgb(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
}
label:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg,var(--clr-white), var(--clr-btn));
    border-radius: 180px;
    box-shadow:  1px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
}
input {
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label {
    background: #242424;
}
input:checked + label:after {
    left: 45px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#3a3a3a,#777);
}
label:active:after{
    width: 25px;
}

/* ---------------------------- */


/* 
.btn-toggle-switch .label {
 display: none;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
.toggle-switch input {
    opacity: 0;
}
.toggle-switch input:checked + .slider {
    background-color: var(--clr-primary);
}
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-primary);
}
.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background: linear-gradient(180deg,#3a3a3a,#777);
}
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-gray-600);
    transition: all 0.3s;
}
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background: linear-gradient(180deg,var(--clr-white), var(--clr-btn));
    transition: all 0.3s;
}
.toggle-switch .slider.round {
    border-radius: 35px;
}
.toggle-switch .slider.round::before {
    border-radius: 50%;
}
 */






.navbar {
    display: none;
}

.nav-link {
    color: var(--clr-text-body);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

.active {
    color: var(--clr-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.textfront {
    display: grid;
    align-items: center;
    justify-content: center;
}    
.head {
     text-align: center;
    font-weight: 800;
    font-size: 34px;
    width: 360px;
}
.text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    width: 270px;
}

.store {
    display: grid;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;

    .store-btn {
        background-color: var(--clr-gray-900);
        border-radius: 10px;
        height: 50px;
        width: 350px;
        cursor: pointer;
    }
}
.discover-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.discover-btn:hover {
    box-shadow: 5px 5px 5px #eee;
}
.discover {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;

}
footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--clr-gray-600);
    
    .container {
        display: flex;
        justify-content: center;
        gap: .6rem;
        align-items: center;
    }
    .credit {
        display: none;
    }
}
.spons-bg {
    background-color: var(--clr-bg);
}
#spons {
    display: none;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    } 
}
.spons-box {
    border: 1px solid var(--clr-grayborder);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobiler {
    display: none;
}
.iconer {
    display: grid;
    padding-bottom: 2rem;
}
#mobilfeatures {
    display: none;
}
#appfeatures {
    display: grid;
    justify-content: center;
    font-size: 28px;
}
#apptext {
    display: flex;
    text-align: center;
    padding-bottom: 2rem;
}
.iconheader {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 1rem;
}
.iconer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.icontext {
    grid-column: 2/4;
    grid-row: 1/3;
}
.slider-work {
    text-align: center;
}
.page4 {
    display: none;
}
.faq {
    display: grid;
    text-align: center;
}
.pg3-bg {
    background-color: var(--clr-gray-100);
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.slidergrp {
    display: none;
}
#slider1, #slider3  {
    display: none;
}
.pg5-bg {
    display: none;
}

.contact-us {
    display: none;
}
.accordion-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#dropdown {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.dropdown {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    gap: 15px;
}
.accordion {
    border-radius: 15px;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 366px;
    height: 74px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 5px 5px 5px #eee;
    text-decoration: none;
}
.active, .accordion:hover {
    background-color: #fff;
    box-shadow: 5px 5px 5px #aaaaaa; 
}
.accordion:after {
    content: '\276F';
    background-color: #F3F6FF;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #000;
    float: right;
    display: grid;
    place-content: center;
    transform: rotate(90deg);
}
.active:after {
    content: "\276E";
    background-color: #6366F1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    float: right;
    display: grid;
    place-content: center;
    transform: rotate(90deg);
    box-shadow: 2px 2px 2px #8488f0;

}
.panel {
    padding: 0 18px;
    background-color: rgb(255, 255, 255);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.btn-contact {
    display: grid;
    grid-column: 1/2;
    grid-row: 4/5;
    justify-content: center;
    padding-top: 3rem;
}
    .btn-contact-us {
    background-color: #6366F1;
    border: none;
    border-radius: 10px 10px 10px 10px;
    width: 162px;
    height: 50px;
    color: white;
    padding: 15px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    float: left;

}
.btn-contact-us:hover {
    background-color: #6366F1;
    box-shadow: 2px 2px 5px #8488f0,
    0px -2px 5px #b3b3b3;
}

/* ---------------------------Page 7--------------------------- */
.pg7-bg {
    background-color: #F3F6FF;
    border-radius: 20px;
    margin-bottom: 2rem;
    height: 251px;
    width: 366px;
}
.subscribe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#notification {
    display: grid;
    grid-column: 1/2;
    align-items: center;

}
#subshead {
    display: grid;
    grid-column: 2/3;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    width: 230px;
    
}
.email {
    display: flex;
    align-items: center;
    justify-content: start;
    grid-column: 1/3;
}
.input-sub {
    padding-left: 2rem;
    width: 215px;
    height: 50px;
    color: #B4B7C9;
    font-size: 16px;
    border: 1px solid #B4B7C9;
    border-radius: 10px 0 0 10px;
}
.input-sub::placeholder {
    color: #B4B7C9;
}
.email i {
    color: #B4B7C9;
    position: absolute;
    margin-left: 12px;
}
.btn-sub {
    background-color: #6366F1;
    border: none;
    border-radius: 0 10px 10px 0;
    width: 115px;
    height: 50px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    float: left;
}
.btn-sub:hover {
    background-color: #6366F1;
    box-shadow: 2px 2px 5px #8488f0,
    0px -2px 5px #b3b3b3;
}
.subnews {
    display: none;
}





/* -------------------------------------------TABLET--------------------------------------- */
@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
    .btn-toggle-switch .label {
        display: block;
       }
    header .container {
        gap: 3rem;
    }
    .textfront {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 1rem;
        padding-top: 2rem;
        
        .head {
            text-align: center;
            font-weight: 800;
            font-size: 34px;
            width: 360px;
        }
    
        .text {
            text-align: left;
            font-weight: 400;
            font-size: 18px;
            width: 255px;
        }
    }
    footer {
        font-size: 14px;
        
        .container {
            display: flex;
            justify-content: center;
    
        }
        .credit {
            display: block;
        }
        
    }
    #spons {
        display: block;
    }

    #spons1, #spons2 {
        display: none;
    }
    
    .store {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 5rem;
        
    .store-btn {
            background-color: #000;
            width: 100%;
            border-radius: 10px;
            height: 45px;
            width: 130px;
            
        }
    }
    .container {
        width: 100vw;
        margin: 0 auto;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .item {
        background-color: transparent;
        display: grid;
        place-items: center;
    }
    
    #item-head {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
    }
    .discover {
        display: flex;
        justify-content: start;
    }
    #item-mobiler {
        display: grid;
        grid-column: 2 / -1;
        grid-row: 3 / 6;
        img {
            object-fit: cover;
            width: 100%;
          } 
    }
    .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 5rem;
    }
    #appfeatures {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #apptext {
        grid-column: 1/3;
        grid-row: 2/3;
        padding-bottom: 4rem;
    }
    #icon1{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .pg3-head {
        display: flex;
        justify-content: center;
        font-size: 33px;
        font-weight: 800; 
    }
    .pg3-bg {
        background-color: #F3F6FF;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
    .slider-mobiler {
        display: none;
    }
    .slidergrp {
        display: flex;
        justify-content: center;
    }
    .pg3-text {
        display: grid;
        text-align: center;   
    }
    .pg5-bg {
        display: none;
    }
    .accordion-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    #dropdown {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
    .dropdown {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        display: grid;
        gap: 15px;
    }
    .accordion {
        border-radius: 15px;
        background-color: #fff;
        color: #000000;
        cursor: pointer;
        padding: 18px;
        width: 732px;
        height: 68px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        box-shadow: 5px 5px 5px #eee;
        text-decoration: none;
    }
    .active, .accordion:hover {
        background-color: #fff;
        box-shadow: 5px 5px 5px #aaaaaa; 
    }
    .accordion:after {
        content: '\276F';
        background-color: #F3F6FF;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #000;
        float: right;
        display: grid;
        place-content: center;
        transform: rotate(90deg);
    }
    .active:after {
        content: "\276E";
        background-color: #6366F1;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        float: right;
        display: grid;
        place-content: center;
        transform: rotate(90deg);
        box-shadow: 2px 2px 2px #8488f0;
    }

    .panel {
        padding: 0 18px;
        background-color: rgb(255, 255, 255);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordion-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #faq {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #dropdown {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .contact-us {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .faq {
        display: grid;
        text-align: center;
        gap: 1rem;
        padding-bottom: 3rem;
    
    }
    #faq-h2 {
        width: 350px;
        font-size: 32px;
        font-weight: 900;
        margin: 0px;
    
    }
    #faq-txt {
        font-size: 18px;
        font-weight: 400;
        width: 416px;
    }
    .contact-us {
        display: flex;
        gap: 2rem;
    }
    .contactbox:hover {
        box-shadow: 5px 5px 5px #aaaaaa;
    }
    .contactbox {
        background-color: #ffffff;
        height: 166px;
        width: 350px;
        font-size: 14px;
        font-weight: 400;
        padding: 20px;
        border: 1px solid #E2E5F1;
        border-radius: 20px;
        margin-top: 30px;
        .alink {
            color: green;
            background-color: transparent;
            text-decoration: none;
        }
    }
    #contactbox1 {
        display: grid;
    }
    #contactbox2 {
        display: grid;
    }
    /*------------------------------------------------  */
    .pg7-bg {
        background-color: #F3F6FF;
        border-radius: 20px;
        margin-bottom: 2rem;
    }
    .subscribe {
        display: flex;
        height: 222px;
        gap: 2rem;
        padding-left: 1rem;
    }
    #notification {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    #subshead {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 800;
        width: 416px;
    }
    .email {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .input-sub {
        padding-left: 2rem;
        width: 215px;
        height: 50px;
        color: #B4B7C9;
        font-size: 16px;
        border: 1px solid #B4B7C9;
        border-radius: 10px 0 0 10px;
    }
    .input-sub::placeholder {
        color: #B4B7C9;
    }
    .email i {
        color: #B4B7C9;
        position: absolute;
        margin-left: 12px;
    }
    .btn-sub {
        background-color: #6366F1;
        border: none;
        border-radius: 0 10px 10px 0;
        width: 142px;
        height: 50px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        float: left;
    }
    .btn-sub:hover {
        background-color: #6366F1;
        box-shadow: 2px 2px 5px #8488f0,
        0px -2px 5px #b3b3b3;
    }
    .subnews {
        display: none;
    }
    .btn-contact{
        display: none;
    }
    


}
/* -------------------------------------DESKTOP----------------------------------------------- */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;    
    }
    .btn-toggle-switch .label {
        display: block;
       }
    header .container {
        grid-template-columns:  auto 1fr auto auto;
        gap: 4rem;
    }
    #auth-signin {
        display: block;
    }
    .btn-mobile {
        display: none;
    }
    .navbar {
        display: block;
    }
    #spons1, #spons2 {
        display: flex;
    }
/* ----------------------------page1------------------------------ */
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 10rem;
    }
    #item-head {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        place-items: center;
        
        .head {
            text-align: left;
            font-weight: 800;
            font-size: 52px;
            width: 490px;
            padding-bottom: 0px;
        }
    }
    .textfront {
        padding-bottom: 2rem;
        padding-top: 0;
    }
    #item-text {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        
        .text {
            text-align: left;
            font-weight: 400;
            font-size: 18px;
            width: 480px;
        }
    
    }
    .store {
        display: flex;
        justify-content: left;
        padding-top: 0;
        padding-bottom: 0;
        .store-btn {
            background-color: #000;
            width: 100%;
            border-radius: 10px;
            height: 52px;
            width: 180px;
            
        }
    }
    #item-store {
        grid-column: 1 / 2;
        grid-row: 4 / 5; 
    }
    #item-discover {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
        align-items: center;
        display: flex;
        justify-content: left;

        .text {
            text-align: left;
            font-weight: 400;
            font-size: 18px;
            width: 400px;
        }
    }
    #item-mobiler {
        grid-column: 2 / 4;
        grid-row: 1 / 10;
        place-items: end;
    }
/* ---------------------------page2------------------------------- */
        
    .page2-bg {
        background-color: var(--clr-bg);
    }
    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .iconheader {
        font-size: 20px;
        font-weight: 800;
        padding-bottom: 0rem;
    }
    .iconer {
        display: flex;
    }
    .icon {
        width: 60px;
        height: 60px;
        margin-left: 1.5rem;
    }
    .icontext {
        display: grid;
        margin-left: 26px;
        width: 260px;
        height: 118px;
    }
    #mobilfeatures {
        display: block;
    }
    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 8rem;
    }
    #mobilfeatures {
        grid-column: 1 / 2;
        grid-row: 1 / 6;
        
    }
    #appfeatures {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        font-size: 40px;
        font-weight: 800;
    }
    #apptext {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        width: 750px;
        margin-left: 6rem;
        padding-bottom: 1rem;    
        display: flex;
        text-align: left;

     }
    #icon1 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    #icon2 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    #icon3 {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    #icon4 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    #icon5 {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    #icon6 {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }
/* -------------------------page3---------------------------------- */
    .pg3-bg {
        background-color: var(--clr-gray-100);
    }
    .slider-work {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 2rem;
        padding-bottom: 6rem;
    }
    .slider-mobiler {
        display: flex;
        gap: 5rem;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        justify-content: center;
    }
    .pg3-head {
        grid-column: 1 / 4;
        grid-row: 1 / 2; 
        font-size: 40px;
        font-weight: 800;
        text-align: center;
    }
    .pg3-text {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        text-align: center;
    }
    #pg3-h4 {
        font-size: 24px;
        font-weight: 800;
    }
    #pg3-text {
        font-size: 16px;
        font-weight: 400; 
    }
    .slidergrp {
        display: none;
    }
    #slider1, #slider3  {
        display: block;
    }

/* --------------------------------------page4--------------------------- */
    .page4 {
        display: block;
        background-color: var(--clr-bg);
    }    

    .transfer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5rem;
    }
    .transfer-head {
        padding-top: 3rem;
        font-size: 32px;
        font-weight: 800;
        width: 465px;
    }
    .transfer-text i {
        margin-right: 10px;
    }
    .transfer-text {
            font-size: 16px;
            font-weight: 400;
            color: #565973;
            padding-bottom: 14rem;
            display: grid;
            gap: 1rem;
        }
    #transfer-head1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        justify-content: start;
    }
    #transfer-head2 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        width: 526px;
        font-size: 26px;
    }
    .icon-text {
        font-size: 16px;
        width: 249px;
        display: grid;
        gap: 1rem;
    }
    .transfer-icon {
        display: flex;
        height: 60px;
        gap: 3rem;
    } 
    #transfer-icon {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    #transfer-img1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: end;
    }
    #transfer-img2 {
        grid-column: 1 / 2;
        grid-row: 4 / 8;  
    }
    .btn-transfer-grp .btn-transfer {
        background-color: #6366F1;
        border: none;
        border-radius: 10px;
        width: 160px;
        height: 45px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: flex;
        gap: 7px;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        float: left;
    }
    .btn-transfer-grp .btn-transfer:not(:last-child) {
        border-right: none;
    }
    .btn-transfer-grp .btn-transfer:hover {
        background-color: #6366F1;
        box-shadow: 2px 2px 5px #8488f0,
        -2px -2px 5px #b3b3b3;
    }
    .btn-transfer-grp {
        padding-bottom: 4rem;
    }
    #btn-transfer1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        justify-content: start;
        align-items: end;
        padding-bottom: 8rem;
    }
    #btn-transfer2 {
        grid-column: 2 / 3;
        grid-row: 7 / 8; 
    }
    /* -----------------------------page5--------------------------- */
    
    .pg5-bg {
        background-color: var(--clr-gray-100);
        display: block;
    }
    .client-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 2rem;
        padding-bottom: 6rem;
    }
    #clients-head {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .client-head {
        font-size: 36px;
        font-weight: 800;
        width: 350px;
    }
    .client-box:hover {
        box-shadow: 5px 5px 5px #aaaaaa;
    }
    .client-box {
        background-color: var(--clr-white);
        color: var(--clr-text-body);
        height: 350px;
        width: 350px;
        font-size: 18px;
        padding: 20px;
        border: 5px none;
        border-radius: 20px;
        margin-top: 30px;
        position: relative;
        box-shadow: 6px 6px 6px #eee;
    }
    #client-box1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        padding-left: 25px;
        padding-top: 100px;
        width: 416px;
    }
    #client-box2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        padding-left: 25px;
        padding-top: 100px;
        width: 416px;
    }
    #quotesicon1 {
        top: -7%;
        left: 4%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        position: absolute;
    }
    #rating1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        left: 4%;
        top: 14%;
        position: absolute;
    }
    #clientface1 {
        left: 4%;
        top: 73%;
        grid-column: 2 / 3;
        grid-row: 1 / 2; 
        position: absolute;

    }
    #clientname1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;  
        position: absolute;
        left: 20%;
        top: 66%;
    }
    #work {
        grid-column: 2 / 3;
        grid-row: 1 / 2;  
        position: absolute;
        left: 20%;
        top: 80%;
        font-size: 14px;
    }
/* ---------------------------Page 6-------------------------------- */
    .pg6-bg {
        background-color: var(--clr-bg);
    }
    .faq {
        display: grid;
        justify-content: start;
        gap: 2rem;
    }
    #faq-h2 {
        width: 350px;
        font-size: 32px;
        font-weight: 900;
        margin: 0px;
    
    }
    #faq-txt {
        font-size: 18px;
        font-weight: 400;
        width: 416px;
    }
    .contact-us {
        display: flex;
        gap: 1rem;
        grid-row: 2/3;
    }
    .contactbox:hover {
        box-shadow: 5px 5px 5px #aaaaaa;
    }
    .contactbox {
        background-color: var(--clr-white);
        height: 166px;
        width: 196px;
        font-size: 14px;
        font-weight: 400;
        padding: 20px;
        border: 1px solid var(--clr-gray-200);
        border-radius: 20px;
        margin-top: 30px;
        .alink {
            color: green;
            background-color: transparent;
            text-decoration: none;
        }
    }
    #contactbox1 {
        display: grid;
    }
    #contactbox2 {
        display: grid;
    }
    .accordion-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    #dropdown {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
    .dropdown {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        display: grid;
        gap: 15px;
    }
    .accordion {
        border-radius: 15px;
        background-color: var(--clr-accordian);
        color: var(--clr-text-body);
        cursor: pointer;
        padding: 18px;
        width: 746px;
        height: 68px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        box-shadow: 5px 5px 5px #eee;
        text-decoration: none;
    }
    .active, .accordion:hover {
        background-color: var(--clr-accordian);
        box-shadow: 5px 5px 5px var(--clr-gray-100); 
    }
    .accordion:after {
        content: '\276F';
        background-color: #F3F6FF;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #000;
        float: right;
        display: grid;
        place-content: center;
        transform: rotate(90deg);
    }
    .active:after {
        content: "\276E";
        background-color: #6366F1;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: var(--clr-gray-100);
        font-weight: bold;
        float: right;
        display: grid;
        place-content: center;
        transform: rotate(90deg);
        box-shadow: 2px 2px 2px #8488f0;

    }
    .panel {
        padding: 0 18px;
        background-color: rgb(255, 255, 255);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    
    /* ---------------------------Page 7--------------------------- */
    .pg7-bg {
        background-color: var(--clr-gray-100);
        border-radius: 20px;
        margin-bottom: 2rem;
    }
    .subscribe {
        display: flex;
        height: 222px;
        gap: 2rem;
        padding-left: 8rem;
    }
    #notification {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    #subshead {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 800;
        width: 526px;
    }
    .subnews {
        display: block;
    }
    .email {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .input-sub {
        padding-left: 2rem;
        width: 330px;
        height: 50px;
        color: #B4B7C9;
        font-size: 16px;
        border: 1px solid #B4B7C9;
        border-radius: 10px 0 0 10px;
        visibility: visible;
    }
    .input-sub::placeholder {
        color: #5c5c5b;
    }
    .email i {
        color: #B4B7C9;
        position: absolute;
        margin-left: 12px;
    }
    .btn-sub {
        background-color: #6366F1;
        border: none;
        border-radius: 0 10px 10px 0;
        width: 142px;
        height: 50px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        float: left;
    }
    .btn-sub:hover {
        background-color: #6366F1;
        box-shadow: 2px 2px 5px #8488f0,
        0px -2px 5px #b3b3b3;
    }
}
